<div class="modal-dialog">
    <div class="modal-dialog__content">
        <div class="modal-dialog__title">Вход в аккаунт</div>
        <div class="modal-dialog__buttons">
            <ui-campus-button [type]="'inactive'" class="modal-dialog__buttons" (click)="openRegistration()">Регистрация</ui-campus-button>
            <ui-campus-button [type]="'active'" class="modal-dialog__buttons" style="pointer-events: none">Войти</ui-campus-button>
        </div>
        <div class="modal-dialog__step">
            <form [formGroup]="loginForm" class="modal-dialog__step__inputs">
                <div style="position: relative">
                    <div class="modal-dialog__input">
                        <input type="text" placeholder="Email" formControlName="email" class="modal-dialog__step__input"/>
                        <ng-container *ngTemplateOutlet="validation; context: { $implicit: loginForm.get('email') }"></ng-container>
                    </div>
                </div>
                <div style="position: relative">
                    <div class="modal-dialog__input"> 
                        <input type="password" placeholder="Пароль" formControlName="password" class="modal-dialog__step__input"/>
                        <ng-container *ngIf="validationElementMethod('password')">
                            <ng-container *ngTemplateOutlet="validation; context: { $implicit: loginForm.get('password') }"></ng-container>
                        </ng-container>
                    </div>
                </div>
                <ui-campus-button [disabled]="loginForm.invalid" [type]="'primary'" class="modal-dialog__btn"
                                  (click)="login()">Войти
                </ui-campus-button>
            </form>
        </div>
    </div>
</div>

<ng-template #validation let-control>
    <div class="modal-dialog__invalid" *ngIf="control?.invalid && control?.touched">
        <div *ngFor="let error of getErrorMessages(control)">
            {{error}}
        </div>
    </div>
</ng-template>