<div class="add-vacancy-modal__container">
    <p class="add-vacancy-modal__title">Добавление вакансии</p>
    <div clas="add-vacancy-modal__wrapper-form">
        <form [formGroup]="viewModel.form">
            <div class="add-vacancy-modal__form">
                <input formControlName="name" class="add-vacancy-modal__control" placeholder="Название вакансии">
                <input formControlName="salary" class="add-vacancy-modal__control" placeholder="Зарплата">
                <input formControlName="city" class="add-vacancy-modal__control" placeholder="Город">
                <div class="add-vacancy-modal__select-wrapper">
                    <select class="add-vacancy-modal__select-control" formControlName="employment">
                        <option value="" disabled>Занятость</option>
                        <option *ngFor="let item of employments" [value]="item">{{item}}</option>
                    </select>
                </div>
                <div class="add-vacancy-modal__select-wrapper">
                    <select class="add-vacancy-modal__select-control" formControlName="experience">
                        <option value="" disabled>Опыт работы</option>
                        <option *ngFor="let item of experiences" [value]="item">{{item}}</option>
                    </select>
                </div>
                <textarea formControlName="description" class="add-vacancy-modal__control"
                    placeholder="Расскажите о вакансии"></textarea>
            </div>
        </form>
    </div>
    <div class="add-vacancy-modal__options">
        <ui-campus-button class="add-vacancy-modal__submit" [type]="'primary'" (click)="onSubmit()"
            [clickType]="'submit'" [disabled]="viewModel.form.invalid">Сохранить</ui-campus-button>
        <ui-campus-button class="add-vacancy-modal__submit" [type]="'edit'"
            (click)="closeModal()">Отменить</ui-campus-button>
    </div>
</div>
