.vacancy-list {

    &__vacancy-name {
        display: grid;
        height: 229px;
        background-color: #8269EF;
        padding: 16px 0 16px 64px;
    }

    &__back {
        font-size: 20px;
        color: #fff;
        margin-left: 12px;
        cursor: pointer;
    }

    &__back-icon {
        cursor: pointer;
    }

    &__back-wrapper {
        display: flex;
        align-items: center;
    }

    &__title {
        color: #fff;
        font-size: 64px;
        font-family: 'Abel';
    }

    &__options {
        display: flex;
        height: 56px;
        padding: 48px 64px 40px 64px;
    }

    &__wrapper {
        height: 100%;
        background-color: #ECECEC;
    }

    &__vacancies {
        padding: 0px 64px 0px 64px;

        &:last-child {
            padding: 0 64px 64px 64px;
        }
    }

    &__down-vector-img {
        width: 100%;
    }

    &__btn {
        margin-right: 16px;
        background-color: #8269EF;
        padding: 12px 24px;
        border: none;
        border-radius: 16px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }

    &__search-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        border-radius: 100px;
    }

    &__search {
        border: none;
        border-radius: 100px;
        width: 100%;
        height: 56px;
    }

    &__search-icon {
        padding: 16px;
        cursor: pointer;
    }

    &__empty,
    loading {
        display: flex;
        justify-content: center;
    }

    &__loading {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    &__loader {
        width: 48px;
        height: 48px;
        border: 5px solid black;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}
