.partner-list {

    &__partner-header {
        display: grid;
        height: 229px;
        background-color: #8269EF;
        padding: 16px 0 16px 64px;
    }

    &__back {
        font-size: 20px;
        color: white;
        margin-left: 12px;
    }

    &__wrapper-back {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__title {
        color: #fff;
        font-size: 64px;
        font-family: 'Abel';
    }

    &__empty {
        display: flex;
        justify-content: center;
        height: 229px;
        background-color: #ECECEC;
    }

    &__loading {
        display: flex;
        justify-content: center;
        height: 229px;
        background-color: #ECECEC;
    }

    &__empty-title {
        margin: auto;
    }

    &__search-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #ECECEC;
        border-radius: 100px;
    }

    &__search {
        background-color: #ECECEC;
        border: none;
        border-radius: 100px;
        width: 100%;
        height: 56px;
    }

    &__search-icon {
        padding: 16px;
        cursor: pointer;
    }

    &__partner-card-wrapper {
        padding: 48px 64px;
        background-color: #ECECEC;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
        margin: 0 auto;
    }

    &__loader {
        margin: auto;
        width: 48px;
        height: 48px;
        border: 5px solid black;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}
