<div class="about-vacancy__container">
    <div class="about-vacancy__vacancy-name">
        <div class="about-vacancy__wrapper-back">
            <img class="about-vacancy__back-icon" src="assets/icons/back.svg">
            <span class="about-vacancy__back" (click)="goToBack()">Назад</span>
        </div>
        <p class="about-vacancy__title">Название вакансии</p>
    </div>
    <img class="about-vacancy__down-vector-img" src="assets/vectors/vector 6.png">
    <div class="about-vacancy__vacancy-about">
        <vacancy></vacancy>
    </div>
</div>
