<div class="about-vacancy__container">
    <div class="about-vacancy__vacancy-name">
        <div class="about-vacancy__wrapper-back" (click)="goToBack()">
            <img class="about-vacancy__back-icon" src="assets/icons/back.svg">
            <span class="about-vacancy__back">Назад</span>
        </div>
        <ng-container *ngIf="currentVacancy$ | async as currentCard">
            <p class="about-vacancy__title">{{currentCard.name}}</p>
        </ng-container>
    </div>
    <img class="about-vacancy__down-vector-img" src="assets/vectors/vector 6.png">
    <div class="about-vacancy__vacancy-about">
        <ng-container *ngIf="vacancyCard$ | async as vacancyCard">
            <vacancy [vacancy]="vacancyCard" (showDialogRemove)="openDialogRemove(vacancyCard)"></vacancy>
        </ng-container>
    </div>
</div>
