<div class="vacancy__container">
    <div class="vacancy__vacancy-avatar">
        <div class="vacancy__avatar">
            <img class="vacancy__photo" src="assets/icons/photo.svg">
        </div>
        <ui-campus-button *ngIf="isLoggedIn$ | async" class="vacancy__btn-edit" [type]="'edit'"
            [routerLink]="['/dashboard/edit-vacancy', vacancy.id]">Редактировать</ui-campus-button>
        <ui-campus-button *ngIf="isLoggedIn$ | async" class="vacancy__btn" [type]="'primary'"
            (click)="removeEmit(vacancy.id!)">Удалить</ui-campus-button>
    </div>
    <div class="vacancy__about">
        <div class="vacancy__main-info">
            <p class="vacancy__title">О вакансии</p>
            <p class="vacancy__link">Название компании (ссылка на карточку)</p>
            <p class="vacancy__salary">Зарплата: {{vacancy.salary | currency: 'RU': true | slice : 2 : 100}} р</p>
            <div class="vacancy__info">
                <span class="vacancy__vacancy-info">Город: {{vacancy.city}}</span>
                <span class="vacancy__vacancy-info">Занятость: {{vacancy.employment}}</span>
                <span class="vacancy__vacancy-info">Опыт работы: {{vacancy.experience}}</span>
            </div>
            <div class="vacancy__vacancy-description">
                <span class="vacancy__description">Описание: {{vacancy.description}}</span>
            </div>
        </div>
    </div>
</div>
