<div class="company__container" *ngIf="company$ | async as company">
    <div class="company__company-avatar">
        <div class="company__avatar" style="display: flex; justify-content: center"
            *ngIf="img$ | async as img; else emptyAvatar">
            <img class="company__photo" [src]="img.image_url">
        </div>
        <ui-campus-button *ngIf="isLoggedIn$ | async" class="company__btn-edit" [type]="'edit'"
            [routerLink]="['/dashboard/edit-company']">Редактировать</ui-campus-button>
        <ui-campus-button class="company__btn" [type]="'primary'">
            <a [href]="company.personal_site" [ngStyle]="{'text-decoration': 'none', 'color': 'white'}">Перейти на сайт</a>
        </ui-campus-button>
    </div>
    <div class="company__about">
        <div class="company__main-info">
            <span class="company__title">О компании</span>
            <div class="company__info">
                <span class="company__company-type" *ngIf="company.field_of_activity">Тип компании: {{company.field_of_activity}}</span>
                <span class="company__company-info" *ngIf="company.year_of_foundation">Год основания: {{company.year_of_foundation}}</span>
                <span class="company__company-info" *ngIf="company.city">Местоположение: г. {{company.city}}, ул. {{company.street}}, д. {{company.house}}</span>
                <span class="company__company-info" *ngIf="company.number_of_employees">Количество сотрудников: {{company.number_of_employees}}</span>
            </div>
            <div class="company__company-description" [ngStyle]="{'overflow': 'hidden'}">
                <span class="company__description">{{company.description}}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyInfo>
    <div class="company__empty-info">
        <span class="company__empty-info-title">Информация о компании не найдена</span>
    </div>
</ng-template>

<ng-template #emptyAvatar>
    <div class="company__avatar">
        <img class="company__photo" src="assets/icons/avatar">
    </div>
</ng-template>
