<div class="company__container">
    <div class="company__company-avatar">
        <div class="company__avatar">
            <img class="company__photo" src="assets/icons/photo.svg">
        </div>
        <ui-campus-button class="company__btn-edit" [type]="'edit'" [routerLink]="['/dashboard/edit-company']">Редактировать</ui-campus-button>
        <ui-campus-button class="company__btn" [type]="'primary'">Перейти на сайт</ui-campus-button>
    </div>
    <div class="company__about">
        <div class="company__main-info">
            <p class="company__title">О компании</p>
            <div class="company__info">
                <span class="company__company-type">Тип компании</span>
                <span class="company__company-info">Год основания: 2002</span>
                <span class="company__company-info">Местоположение: г.Москва</span>
                <span class="company__company-info">Количество сотрудников: 400</span>
            </div>
            <div class="company__company-description">
                <span class="company-description">Описание: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat impedit
                    dolores officiis, rerum ducimus cum.</span>
            </div>
        </div>
    </div>
</div>
