@import '../../../../../../../../styles/variables.scss';

.abount-company {

    &__company-name {
        width: 100%;
        display: grid;
        height: 229px;
        background-color: $red;
        padding: 16px 64px;
    }

    &__back {
        font-size: 20px;
        color: white;
        margin-left: 12px;
    }

    &__title {
        color: $white;
        font-size: 64px;
        font-family: $abel-font;
    }
}
