<div class="vacancy-list__container">
    <div class="vacancy-list__vacancy-name">
        <div class="vacancy-list__back-wrapper" (click)="goToBack()">
            <img class="vacancy-list__back-icon" src="assets/icons/back.svg">
            <span class="vacancy-list__back">Назад</span>
        </div>
        <p class="vacancy-list__title">Вакансии</p>
    </div>
    <div class="vacancy-list__wrapper">
        <img class="vacancy-list__down-vector-img" src="assets/vectors/vector 6.png">
        <div class="vacancy-list__options">
            <input *ngIf="isLoggedIn$ | async" class="vacancy-list__btn" type="button" value="Добавить вакансию">
            <div class="vacancy-list__search-wrapper">
                <img class="vacancy-list__search-icon" src="assets/icons/search.svg">
                <input class="vacancy-list__search" type="text" style="font-size: 20px;" [(ngModel)]="name">
                <img class="vacancy-list__search-icon" src="assets/icons/close.svg">
            </div>
        </div>
        <ng-container *ngIf="vacancyList$ | async as vacancyList; else loading">
            <ng-container *ngIf="(vacancyList | search : name) as list">
                <ng-container *ngIf="list.length; else empty">
                    <div class="vacancy-list__vacancies" *ngFor="let card of list">
                        <vacancy-card [vacancyCard]="card" (showDialogRemove)="openDialogRemove($event)"></vacancy-card>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <img class="vacancy-list__down-vector-img" src="assets/vectors/vector 4.png">
</div>

<ng-template #empty>
    <div class="vacancy-list__empty">
        <h2 class="vacancy-list__empty-title">Ничего не найдено</h2>
    </div>
    <img class="vacancy-list__down-vector-img" src="assets/vectors/vector 4.png">
</ng-template>

<ng-template #loading>
    <div class="vacancy-list__loading">
        <h2 class="vacancy-list__loading-title">Loading...</h2>
    </div>
    <img class="vacancy-list__down-vector-img" src="assets/vectors/vector 4.png">
</ng-template>
