<div class="vacancy-list__container">
    <div class="vacancy-list__vacancy-name">
        <span class="vacancy-list__back" (click)="goToBack()">Назад</span>
        <p class="vacancy-list__title">Вакансии</p>
    </div>
    <div class="vacancy-list__wrapper">
        <img class="vacancy-list__down-vector-img" src="assets/vectors/vector 6.png">
        <div class="vacancy-list__options">
            <!-- <ui-campus-button [type]="'primary'">Добавить вакансию</ui-campus-button> -->
            <!-- <input type="text" placeholder="Поиск"> -->
        </div>
        <div class="vacancy-list__vacancies">
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
        </div>
    </div>
    <img class="vacancy-list__down-vector-img" src="assets/vectors/vector 4.png">
</div>
