@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

$white: #ffffff;
$black: #21201F;
$grey: #D9D9D9;
$grey-light: #ECECEC;
$grey-light-v2: #616264;
$grey-dark: #292929;
$purple: #8269EF;
$purple-light: #AB9BEF;
$purple-light-v2: #E0D9FB;
$red: #F42E30;
$red-light: #F75759;
$brown: #352F2F;

$default-font: 'Inter';
$abel-font: 'Abel';
