<div class="partner-card__container">
    <div class="partner-card__card">
        <div class="partner-card__info">
            <span class="partner-card__title">«Название компании»</span>
            <span class="partner-card__type">Тип компании</span>
        </div>
    </div>
    <div class="partner-card__card">
        <div class="partner-card__info">
            <span class="partner-card__title">«Название компании»</span>
            <span class="partner-card__type">Тип компании</span>
        </div>
    </div>
    <div class="partner-card__card">
        <div class="partner-card__info">
            <span class="partner-card__title">«Название компании»</span>
            <span class="partner-card__type">Тип компании</span>
        </div>
    </div>
    <div class="partner-card__card">
        <div class="partner-card__info">
            <span class="partner-card__title">«Название компании»</span>
            <span class="partner-card__type">Тип компании</span>
        </div>
    </div>
    <div class="partner-card__card">
        <div class="partner-card__info">
            <span class="partner-card__title">«Название компании»</span>
            <span class="partner-card__type">Тип компании</span>
        </div>
    </div>
</div>
