<div class="abount-company__container">
    <div class="abount-company__company-name">
        <span class="abount-company__back">Назад</span>
        <p class="abount-company__title">Название компании</p>
    </div>
    <img class="abount-company__up-vector-img" src="assets/vectors/vector 2.png">
    <div class="abount-company__company-about">
        <company></company>
    </div>
    <div class="abount-company__vacancies-wrapper">
        <img src="assets/vectors/vector 3.png" [ngStyle]="{'width': '100%'}">
        <div class="abount-company__vacancies">
            <div class="abount-company__vacancy-title">Вакансии</div>
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
            <vacancy-card></vacancy-card>
            <ui-campus-button class="abount-company__show-more-btn" [type]="'primary'">Показать
                все</ui-campus-button>
        </div>
        <img src="assets/vectors/vector 4.png" [ngStyle]="{'width': '100%'}">
    </div>
    <div class="abount-company__photo-gallery">
        <div class="abount-company__gallery-wrapper">
            <div class="abount-company__photo-gallery-title">Фотогалерея</div>
            <photo-gallery></photo-gallery>
            <ui-campus-button class="abount-company__load-more-btn" [type]="'primary'">Загрузить
                еще</ui-campus-button>
        </div>
        <img src="assets/vectors/vector 6.png" [ngStyle]="{'width': '100%'}">
    </div>
</div>
