<div class="abount-company__container">
    <div class="abount-company__company-name">
        <div class="abount-company__wrapper-back">
            <img class="abount-company__back-icon" src="assets/icons/back.svg">
            <span class="abount-company__back" (click)="goToBack()">Назад</span>
        </div>
        <p class="abount-company__title">Название компании</p>
    </div>
    <img class="abount-company__up-vector-img" src="assets/vectors/vector 2.png">
    <div class="abount-company__company-about">
        <company></company>
    </div>
    <div class="abount-company__vacancies-wrapper">
        <img src="assets/vectors/vector 3.png" [ngStyle]="{'width': '100%'}">
        <div class="abount-company__vacancies">
            <div class="abount-company__vacancy-title">Вакансии</div>
            <ng-container *ngIf="(isShowAll$ | async) === false; else showVacancies">
                <ng-container *ngFor="let card of vacancyList | slice : 0 : 3">
                    <vacancy-card [vacancyCard]="card"></vacancy-card>
                </ng-container>
                <ui-campus-button class="abount-company__show-more-btn" [type]="'primary'"
                    (click)="updateShowVacancies(true)">Показать все</ui-campus-button>
            </ng-container>
        </div>
        <img src="assets/vectors/vector 4.png" [ngStyle]="{'width': '100%'}">
    </div>
    <div class="abount-company__photo-gallery">
        <div class="abount-company__gallery-wrapper">
            <div class="abount-company__photo-gallery-title">Фотогалерея</div>
            <photo-gallery></photo-gallery>
            <ui-campus-button class="abount-company__load-more-btn" [type]="'primary'">
                Загрузить еще
            </ui-campus-button>
        </div>
        <img src="assets/vectors/vector 6.png" [ngStyle]="{'width': '100%'}">
    </div>
</div>

<ng-template #showVacancies>
    <ng-container *ngFor="let card of vacancyList">
        <vacancy-card [vacancyCard]="card"></vacancy-card>
    </ng-container>
    <ui-campus-button class="abount-company__show-more-btn" [type]="'primary'"
        (click)="updateShowVacancies(false)">Скрыть</ui-campus-button>
</ng-template>
