<div class="edit-vacancy__container">
    <div class="edit-vacancy__vacancy-name">
        <div class="edit-vacancy__back-wrapper" (click)="goToBack()">
            <img class="edit-vacancy__back-icon" src="assets/icons/back.svg">
            <span class="edit-vacancy__back">Назад</span>
        </div>
        <ng-container *ngIf="vacancy$ | async as vacancy">
            <p class="edit-vacancy__title">{{vacancy.name}}</p>
        </ng-container>
    </div>
    <div class="edit-vacancy__wrapper">
        <img class="edit-vacancy__down-vector-img" src="assets/vectors/vector 6.png">
    </div>
    <div class="edit-vacancy__wrapper-form" *ngIf="viewModel$ | async as viewModel; else skeleton">
        <form [formGroup]="viewModel.form">
            <p class="edit-vacancy__about-title">О вакансии</p>
            <div class="edit-vacancy__form">
                <div class="edit-vacancy__input">
                    <input formControlName="name" class="edit-vacancy__control" placeholder="Название вакансии">
                    <ng-container *ngTemplateOutlet="validation; context: { $implicit: viewModel.form.get('name') }"></ng-container>
                </div>
                <div class="edit-vacancy__input">
                    <input formControlName="salary" class="edit-vacancy__control" placeholder="Зарплата">
                    <ng-container *ngTemplateOutlet="validation; context: { $implicit: viewModel.form.get('salary') }"></ng-container>
                </div>
                <div class="edit-vacancy__input">
                    <input formControlName="city" class="edit-vacancy__control" placeholder="Город">
                    <ng-container *ngTemplateOutlet="validation; context: { $implicit: viewModel.form.get('city') }"></ng-container>
                </div>
                <div class="edit-vacancy__select">
                    <div class="edit-vacancy__select-wrapper">
                        <select class="edit-vacancy__select-control" formControlName="employment">
                            <option value="" disabled>Занятость</option>
                            <option *ngFor="let item of employments" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <ng-container *ngTemplateOutlet="validation; context: { $implicit: viewModel.form.get('employment') }"></ng-container>
                </div>
                <div class="edit-vacancy__select">
                    <div class="edit-vacancy__select-wrapper">
                        <select class="edit-vacancy__select-control" formControlName="experience">
                            <option value="" disabled>Опыт работы</option>
                            <option *ngFor="let item of experiences" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <ng-container *ngTemplateOutlet="validation; context: { $implicit: viewModel.form.get('experience') }"></ng-container>
                </div>
                <textarea formControlName="description" class="edit-vacancy__control"
                    placeholder="Расскажите о вакансии" [ngStyle]="{'height': '320px'}"></textarea>
            </div>
        </form>
        <div class="edit-vacancy__wrapper-btn">
            <ui-campus-button class="edit-vacancy__submit" [type]="'primary'" [clickType]="'submit'"
                (click)="onSubmit(viewModel)" [disabled]="viewModel.form.invalid">Сохранить</ui-campus-button>
            <ui-campus-button class="edit-vacancy__cancel" [type]="'edit'" (click)="goToBack()">Отменить</ui-campus-button>
        </div>
    </div>
</div>

<ng-template #validation let-control>
    <div class="edit-vacancy__invalid"
        *ngIf="control?.invalid && control?.touched">
        <div *ngFor="let error of getErrorMessages(control)">
            {{ error }}
        </div>
    </div>
</ng-template>

<ng-template #skeleton>
    <h2>Loading form...</h2>
</ng-template>
