<div class="cabinet-header__container">
    <img class="cabinet-header__img-vector" *ngIf="currentPath$ | async as path" src="{{imagePathList[path]}}">
    <div class="cabinet-header__content">
        <div class="cabinet-header__tabs">
            <div *ngFor="let path of paths">
                <ui-campus-button class="cabinet-header__tab" [type]="'tab'"
                                  [routerLink]="path.path">{{ path.title }}</ui-campus-button>
            </div>
        </div>
        <div class="cabinet-header__buttons">
            <ui-campus-button type="inactive" class="cabinet-header__button" (click)="openRegistration()">Регистрация</ui-campus-button>
            <ui-campus-button type="active" class="cabinet-header__button"  (click)="openLogin()">Вход</ui-campus-button>
        </div>
    </div>
</div>
