.vacancy-card {

    &__container {
        width: 100%;
        border-radius: 16px;
        background-color: #fff;
        font-family: 'Giga Sans';
        font-size: 24px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        padding: 32px 64px;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__wrapper-title {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper-more {
        display: flex;
        align-items: center;
    }

    &__name {
        font-weight: bold;
    }

    &__salary {
        color: #8269EF;
    }

    &__more {
        cursor: pointer;
        color: #292929;
        margin-right: 16px;
        font-size: 18px;
    }
}
