.vacancy-card {

    &__container {
        width: 100%;
        border-radius: 16px;
        background-color: #fff;
        font-family: 'Giga Sans';
        font-size: 24px;
    }
    &__container-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 32px;
    }

    &__wrapper {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 32px 64px;
        justify-content: space-between;
        width: 100%;
    }

    &__wrapper-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper-more {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font-weight: bold;

        &.isMargin {
            margin-left: 32px;
        }
    }

    &__salary {
        color: #8269EF;
    }

    &__more {
        color: #292929;
        margin-right: 16px;
        font-size: 18px;
    }

    &__more-title {
        cursor: pointer;
    }
}
