<ng-container *ngIf="contacts$ | async as contacts">
    <ng-container *ngIf="contacts.phone?.length && contacts.email?.length">
        <div class="cabinet-footer__container">
            <p class="cabinet-footer__title">Контакты</p>
            <div class="cabinet-footer__contacts">
                <!-- <div class="cabinet-footer__contact-icons">
                    <img class="cabinet-footer__tg" src="assets/icons/tg.svg">
                    <img class="cabinet-footer__vk" src="assets/icons/vk.svg">
                </div> -->
                <div class="cabinet-footer__phone">
                    <span class="cabinet-footer__contact-title">Телефон:</span>
                    <span class="cabinet-footer__contact-text">{{contacts.phone}}</span>
                </div>
                <div class="cabinet-footer__email">
                    <span class="cabinet-footer__contact-title">E-mail:</span>
                    <span class="cabinet-footer__contact-text">{{contacts.email}}</span>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
