<div class="edit-company__container">
    <div class="edit-company__company-name">
        <div class="edit-company__back-wrapper" (click)="goToBack()">
            <img class="edit-company__back-icon" src="assets/icons/back.svg">
            <span class="edit-company__back">Назад</span>
        </div>
        <p class="edit-company__title">Профиль</p>
    </div>
    <div class="edit-company__wrapper">
        <img class="edit-company__down-vector-img" src="assets/vectors/vector 6.png">
    </div>
    <ng-container *ngIf="editForm$ | async as editForm; else loading">
        <div *ngIf="img$ | async as src" class="edit-company__block">
            <div class="edit-company__left-block">
                <div style="display: flex; justify-content: center">
                    <img [src]="src" class="edit-company__avatar">
                </div>
                <div class="edit-company__btn">
                    <ui-campus-button type="primary" (click)="uploadImage()">Загрузить</ui-campus-button>
                </div>
                <div class="edit-company__btn">
                    <ui-campus-button type="edit" (click)="deleteImage()">Удалить</ui-campus-button>
                </div>
            </div>
            <input type="file" style="display: none" #fileInput class="edit-company__options"
                (change)="pushMainImage($event)">
            <form [formGroup]="editForm" style="width: 632px">
                <div class="edit-company__topic">О компании</div>
                <div class="edit-company__options">
                    <div class="edit-company__input">
                        <input formControlName="industry" class="edit-company__option" placeholder="Сфера деятельности*">
                        <ng-container *ngTemplateOutlet="validation; context: { $implicit: editForm.get('industry') }"></ng-container>
                    </div>
                    <input formControlName="yearOfFoundation" class="edit-company__option" placeholder="Год основания">
                    <div class="edit-company__address">
                        <input formControlName="city" class="edit-company__option" placeholder="Город">
                        <input formControlName="street" class="edit-company__option" placeholder="Улица">
                        <input formControlName="house" class="edit-company__option" placeholder="Дом">
                    </div>
                    <div class="edit-company__input">
                        <input formControlName="numberOfEmployees" class="edit-company__option" placeholder="Количество сотрудников">
                        <ng-container *ngTemplateOutlet="validation; context: { $implicit: editForm.get('numberOfEmployees') }"></ng-container>
                    </div>
                    <textarea formControlName="aboutCompany" class="edit-company__option"
                        placeholder="Расскажите о компании*"></textarea>
                </div>
                <div class="edit-company__options" style="margin-top: 80px">
                    <div class="edit-company__topic">Контакты и соцсети</div>
                    <div class="edit-company__input">
                        <input formControlName="site" class="edit-company__option" placeholder="Личный сайт*">
                        <ng-container *ngTemplateOutlet="validation; context: { $implicit: editForm.get('site') }"></ng-container>
                    </div>
                    <div class="edit-company__input">
                        <input formControlName="phone" class="edit-company__option" placeholder="Телефон*">
                        <ng-container *ngTemplateOutlet="validation; context: { $implicit: editForm.get('phone') }"></ng-container>
                    </div>
                    <div class="edit-company__input">
                        <input formControlName="email" class="edit-company__option" placeholder="Email">
                        <ng-container *ngTemplateOutlet="validation; context: { $implicit: editForm.get('email') }"></ng-container>
                    </div>
                </div>
                <div class="edit-company__buttons-block">
                    <ui-campus-button type="primary" [disabled]="editForm.invalid" (click)="onSubmit(editForm)"
                        clickType="submit">Сохранить</ui-campus-button>
                    <ui-campus-button type="edit" (click)="goToBack()">Отменить</ui-campus-button>
                </div>
            </form>
        </div>
    </ng-container>
    <div class="edit-company__photo-gallery">
        <img class="edit-company__top-vector" src="assets/vectors/vector 3.png"
            [ngStyle]="{'width': '100%', 'display': 'block'}">
        <div class="edit-company__photo-gallery-wrapper">
            <p class="edit-company__photo-gallery-title">Фотографии</p>
            <div class="edit-company__photo-gallery-list">
                <div class="edit-company__photo-add-wrapper">
                    <div class="edit-company__photo-preview" *ngIf="photoList$ | async as photoList">
                        <ng-container *ngIf="!photoList.length; else gallery">
                            <img class="edit-company__photo-img" src="assets/icons/logo.svg">
                            <span class="edit-company__photo-title">Вы еще не загружали фото</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <input type="file" style="display: none" #photoInput class="edit-company__options"
                (change)="pushImageGallery($event)">
            <ui-campus-button class="edit-company__photo-btn" [type]="'active'" (click)="uploadPhoto()">Добавить
                фотографии</ui-campus-button>
        </div>
        <img class="edit-company__down-vector" src="assets/vectors/vector 4.png" [ngStyle]="{'width': '100%'}">
    </div>
</div>

<ng-template #gallery>
    <div class="edit-company__photo-list">
        <ng-container *ngIf="photoList$ | async as photoList">
            <ng-container *ngFor="let photo of photoList; trackBy: trackByFn">
                <div class="edit-company__photo">
                    <img class="edit-company__remove-photo" (click)="removeImageGallery(photo.id!)"
                        src="assets/icons/remove_photo.svg">
                    <img src="{{photo?.imageUrl}}"
                        [ngStyle]="{'width': '300px', 'height': '282px', 'border-radius': '16px', 'display': 'block'}">
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #loading>
    <div class="edit-company__loader">
        Loading form...
    </div>
</ng-template>

<ng-template #validation let-control>
    <div class="edit-company__invalid"
        *ngIf="control?.invalid && control?.touched">
        <div *ngFor="let error of getErrorMessages(control)">
            {{ error }}
        </div>
    </div>
</ng-template>