@import "../../../../../../styles/variables";

.modal-dialog {
    font-family: 'Giga Sans';
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 56px 96px;
    }

    &__title {
        font-size: 54px;
        color: #21201F;
        font-weight: 400;
        line-height: 70px;
        margin-bottom: 32px;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        width: 460px;
        background-color: $purple-light-v2;
        border-radius: 100px;
    }

    &__step {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        width: 100%;

        &__title {
            font-size: 24px;
            color: #21201F;
            font-weight: 400;
            line-height: 31px;
            margin-bottom: 24px;
        }

        &__input {
            font-size: 16px;
            line-height: 20px;
            background-color: #E0D9FB;
            border-radius: 16px;
            border-color: #E0D9FB;
            width: 100%;
            padding: 22px 24px;
            box-sizing: border-box;
        }

        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 24px
        }

        &__checkbox {
            display: flex;
            align-items: center;
        }

        &__checkbox input[type="checkbox"] {
            width: 18px;
            height: 18px;
        }

        &__checkbox label {
            margin-left: 8px;
            font-size: 18px;
            color: $purple;
            text-decoration: underline;
        }

        &__buttons {
            width: 230px;
        }
    }

    &__btn {
        margin-top: 64px;
    }

    &__invalid {
        color: red;
        position: absolute;
    }
}

input::placeholder {
    color: $purple;
}
