<div class="remove-vacancy-modal__wrapper">
    <span class="remove-vacancy-modal__title">Удалить вакансию</span>
    <div class="remove-vacancy-modal__wrapper-name">
        <span class="remove-vacancy-modal__name">{{vacancy.name}}</span>
        <p class="remove-vacancy-modal__question" [ngStyle]="{'font-size': '30px'}">?</p>
    </div>

    <div class="remove-vacancy-modal__options">
        <div [ngStyle]="{'margin-right': '16px'}">
            <ui-campus-button [type]="'edit'" [clickType]="'button'" (click)="cancel()">Отменить</ui-campus-button>
        </div>
        <ui-campus-button [type]="'primary'" (click)="removeVacancyById()">Удалить</ui-campus-button>
    </div>
</div>
